Bus_Transport_Booking_Assistant/Booking_Assistant.JSON
{
  "name": "Faisal_Movers_Transport_Booking_Assistant",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -416,
        832
      ],
      "id": "bcc6a4f0-d3f2-410b-86cc-88782954b6fd",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "1RCnjhlx4Xe3SvnXO5Gt6QzeOSoy-AFOr",
          "mode": "list",
          "cachedResultName": "Updated_Faisal-Movers transport data.csv",
          "cachedResultUrl": "https://drive.google.com/file/d/1RCnjhlx4Xe3SvnXO5Gt6QzeOSoy-AFOr/view?usp=drivesdk"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        48,
        800
      ],
      "id": "8b320e19-d8af-4bc3-abc3-63904d37d01f",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "1pdpC3sGFeH7ZXt0",
          "name": "Google Drive account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "faisalmovers",
          "mode": "list",
          "cachedResultName": "faisalmovers"
        },
        "options": {
          "queryName": "match_faisalmovers"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        608
      ],
      "id": "dcf62374-ad95-4b6c-a582-c38fe7c964b7",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "UFSfFyo7SzIzcGoA",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        672,
        832
      ],
      "id": "b4a62e69-340a-48a3-96d6-8fe2c1a4465f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "public": true,
        "mode": "webhook",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -384,
        208
      ],
      "id": "ee4e92f2-3b31-4884-9279-0a012b561f3d",
      "name": "When chat message received",
      "webhookId": "f2d49109-9b64-4fcf-a86b-91001a6a2a7f"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This vector store contains official Faisal Movers information including:\n- routes, source and destination cities\n- fares for each route and bus class\n- bus classes and amenities\n- terminals, departure points, and timings\n- general company information related to bus transport\n\nThe Agent must use this vector store to answer any Faisal Movers–related questions.\n\nIf the user asks about fares, routes, timings, class availability, or amenities,\nthe answer must come strictly from this dataset.\n\nIf the requested information is not found in this dataset,\nthe AI must respond with:\n\"Sorry, I can only answer queries related to Faisal Movers bus service.\"\n\n",
        "tableName": {
          "__rl": true,
          "value": "faisalmovers",
          "mode": "list",
          "cachedResultName": "faisalmovers"
        },
        "options": {
          "queryName": "match_faisalmovers"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        416,
        448
      ],
      "id": "8a1aa4b3-3073-4ded-a8ec-f4505859fb40",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "UFSfFyo7SzIzcGoA",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "tableName": "faisalmovers_chat_histories",
        "contextWindowLength": 4
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        16,
        352
      ],
      "id": "b2a848a6-bc93-485b-aa7f-8c2e01ea4a91",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "t4tivj8XQWyA6Cfu",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "webhook_bus_payment_123",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        2080,
        976
      ],
      "id": "df0c1a18-3e4e-4569-a20a-3a19278cf391",
      "name": "Webhook",
      "webhookId": "40a2c6b8-787b-493b-93e7-73b303686df6"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d392fdf-1787-4cd0-bbf2-8b40e7cbafae",
              "leftValue": "={{ $json.v1 }}",
              "rightValue": "={{ $json.computedSignature }}",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "782d4bad-4f32-4950-88fc-59829a77eb1f",
              "leftValue": "={{ $('Webhook').item.json.body.type }}",
              "rightValue": "checkout.session.completed",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "f24fb433-5716-4254-883c-9f12570278b9",
              "leftValue": "={{ ($now/1000) - $json.t }}",
              "rightValue": "={{ 180 // This is in seconds }}",
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2752,
        976
      ],
      "id": "82bede38-1e2b-4f74-aa4f-da1c220057a6",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const signatureHeader = $input.first().json.headers[\"stripe-signature\"]\n// Split the header by comma\nconst parts = signatureHeader.split(',');\n\n// Build the object by splitting each part at the first '='\nconst result = {};\nfor (const part of parts) {\n  const [key, value] = part.split('=', 2);\n  result[key] = value;\n}\n\n// Output the object for use in your workflow\nreturn [{ json: result }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2304,
        976
      ],
      "id": "f327dab9-3e13-435e-b548-1e80803db441",
      "name": "Code1"
    },
    {
      "parameters": {
        "action": "hmac",
        "type": "SHA256",
        "value": "={{ $json.t }}.{{ JSON.stringify($('Webhook').item.json.body, null, 2) }}",
        "dataPropertyName": "computedSignature",
        "secret": "=whsec_sE9fkfacUZctW0pXLwy5RT1NMrzrdDyE"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 1,
      "position": [
        2528,
        976
      ],
      "id": "424d2301-70a5-44d7-8dc9-7de721a2da55",
      "name": "Crypto1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "f7b3f0b7-859a-4cae-ba86-cd95de754a54",
              "name": "Customer_Email",
              "value": "={{ $('Webhook').item.json.body.data.object.customer_details.email }}",
              "type": "string"
            },
            {
              "id": "c787fa4d-5d52-4f1d-8649-0cb0a555e821",
              "name": "Customer_Name",
              "value": "={{ $('Webhook').item.json.body.data.object.customer_details.name }}",
              "type": "string"
            },
            {
              "id": "7ef79ae1-2a06-4065-8836-20aeb0e98fd3",
              "name": "Ticket_Fare_PKR",
              "value": "={{ $('Webhook').item.json.body.data.object.amount_total / 100 }}",
              "type": "string"
            },
            {
              "id": "df9e9db2-335d-452b-8510-661a87e70a34",
              "name": "Booking_ID",
              "value": "={{ $('Webhook').item.json.body.data.object.client_reference_id }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2992,
        688
      ],
      "id": "29c61f85-859a-4806-8283-495c62895aff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "errorMessage": "Signature verification failed"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2976,
        1072
      ],
      "id": "971b023b-523f-4d57-ac26-aa9f1e639eee",
      "name": "Stop and Error1"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Customer_Email }}",
        "subject": "=={{ 'Faisal Movers E-Ticket: Booking ID ' + $json.Booking_ID }}",
        "message": "=<!DOCTYPE html>\n<html>\n<head>\n    <title>Faisal Movers E-Ticket Confirmation</title>\n    <style>\n        body { font-family: Tahoma, Arial, sans-serif; background-color: #f4f4f4; margin: 0; padding: 20px; }\n        .container { max-width: 600px; margin: 0 auto; background-color: #ffffff; padding: 30px; border-radius: 8px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); }\n        .header { background-color: #2c3e50; color: #ffffff; padding: 15px; text-align: center; border-radius: 6px 6px 0 0; }\n        .details { margin-top: 20px; border: 1px solid #ddd; border-radius: 4px; padding: 15px; }\n        .detail-row { display: flex; justify-content: space-between; padding: 8px 0; border-bottom: 1px dotted #eee; }\n        .detail-row:last-child { border-bottom: none; }\n        .label { font-weight: bold; color: #555; }\n        .value { color: #333; }\n        .footer { text-align: center; margin-top: 30px; font-size: 0.8em; color: #777; }\n        .important { color: #e74c3c; font-weight: bold; }\n    </style>\n</head>\n<body>\n    <div class='container'>\n        <div class='header'>\n            <h2>Faisal Movers - Booking Confirmed</h2>\n            <h3>E-Ticket Receipt</h3>\n        </div>\n\n        <!-- Greeting -->\n        <p>Dear {{ $json.Customer_Name }},</p>\n        <p>Thank you for choosing Faisal Movers. Your payment has been successfully verified, and your e-ticket is confirmed!</p>\n\n        <!-- Customer booking details -->\n        <div class='details'>\n            <div class='detail-row'>\n                <span class='label'>Booking ID:</span>\n                <span class='value important'>{{ $json.Booking_ID }}</span>\n            </div>\n            <div class='detail-row'>\n                <span class='label'>Amount Paid:</span>\n                <span class='value'>PKR {{ $json.Ticket_Fare_PKR }}</span>\n            </div>\n            <div class='detail-row'>\n                <span class='label'>Email:</span>\n                <span class='value'>{{ $json.Customer_Email }}</span>\n            </div>\n        </div>\n\n        <!-- Footer -->\n        <p class='footer'>Please present this Booking ID upon boarding. For support, contact Faisal Movers customer care.</p>\n    </div>\n</body>\n</html>\n",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        3248,
        768
      ],
      "id": "2f9d5ed2-fc9e-44e8-9254-aaf9c82395e0",
      "name": "Send a message1",
      "webhookId": "91d37315-2190-474e-8b6f-4fbe9eaf8fac",
      "credentials": {
        "gmailOAuth2": {
          "id": "VcZ8OaTuYvWmEMv4",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are the Ticket Assistant for Faisal Movers.\n\nIMPORTANT DATA RULES:\n- You do NOT know fares, routes, timings, or terminals by yourself.\nIMPORTANT:\n*For each queries always check and find the answer in google sheet node .*\n- All factual data comes ONLY from the Agent tool node  (Google Sheets).\n- If no data is provided to you, you MUST say:\n  \"Sorry, I can only answer queries related to Faisal Movers bus service.\"\n\nGENERAL CHAT:\n- You may reply to greetings like \"hi\" or \"hello\" politely.\n\nBOOKING MODE:\nBooking starts when the user mentions booking, traveling, seats, date, or route.\n\nRequired fields:\nIMPROTANT* Collect these all field according to the provided sequence, first name and then other fields\n- name\n- source_city\n- destination_city\n- bus_class(Available bus classes are Standard,Executive,Super Executive, and Luxury Plus)\n- seat_quantity\n- date\n\nAsk for missing fields ONE BY ONE.\nDon't repeat the same questions multiple times.\nDo not assume or guess any value.\n\nCONFIRMATION:\nWhen all fields are collected, ask:\n\n\"Please confirm:\nName: {name}\nFrom: {source_city}\nTo: {destination_city}\nClass: {bus_class}\nSeats: {seat_quantity}\nDate: {date}\nShould I proceed?\"\n\nFINAL OUTPUT RULE:\n- ONLY output JSON when user confirms.\n- Output NOTHING outside JSON.\n\nJSON FORMAT:\n{\n  \"intent\": \"book_ticket\",\n  \"name\": \"USER_NAME\",\n  \"source_city\": \"CITY_A\",\n  \"destination_city\": \"CITY_B\",\n  \"bus_class\": \"CLASS\",\n  \"seat_quantity\": NUMBER,\n  \"date\": \"YYYY-MM-DD\"\n}\n\nSTRICT RULES:\n- Never invent data.\n- Never guess fares, routes, or timings.\n- Never use embeddings or vector search.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        0,
        0
      ],
      "id": "a1516162-e84f-45bf-9eac-3fb69563fd8c",
      "name": "AI Agent",
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6d89a6b0-e9fa-46fb-bbb7-5e9c0d27af02",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "={{\"check_info\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4429a3a5-cad7-4d34-bc78-ccf30587f359",
                    "leftValue": "={{ $json.intent }}",
                    "rightValue": "={{\"book_ticket\" }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1078c2a9-7dd6-4149-a1e4-5fd732e6e5d0",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "={{ $json.message }}",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [
        944,
        208
      ],
      "id": "e2b995c9-ed48-4c08-8215-8d45d8d1dd23",
      "name": "Switch",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Current item\nconst item = $json;\n\n// Calculate total fare\nconst totalFare = item.fare_price_pkr * item.seat_quantity;\n\n// Return a single object\nreturn {\n  json: {\n    totalFare: totalFare,\n    name: item.name,\n    source: item.source_city,\n    destination: item.destination_city,\n    busClass: item.bus_class,\n    seats: item.seat_quantity,\n    date: item.date\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        208
      ],
      "id": "d1211967-1c6d-424c-aa77-058277d6ca5d",
      "name": "Fare_Calculation",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "fares_prices",
        "limit": 1,
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "source_city",
              "condition": "eq",
              "keyValue": "={{ $json.source_city }}"
            },
            {
              "keyName": "destination_city",
              "condition": "eq",
              "keyValue": "={{$json[\"destination_city\"].trim()}}"
            },
            {
              "keyName": "bus_class",
              "condition": "eq",
              "keyValue": "={{$json[\"bus_class\"].trim()}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1184,
        416
      ],
      "id": "e488c0f1-d50a-4d2b-ae6a-4caa9c259862",
      "name": "fetching _fare_prices_along_cities",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "UFSfFyo7SzIzcGoA",
          "name": "Supabase account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.stripe.com/v1/checkout/sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer sk_test_51SYA76RWOrB4gn94pHQzFD6dXoGy1KrxNuTIWiGxquByWICjWUocYx4nwBB9wt5Qzs2xjtNwosujVmuXkK9PiTDL00KYFpEMln"
            }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "payment_method_types[0]",
              "value": "card"
            },
            {
              "name": "mode",
              "value": "payment"
            },
            {
              "name": "line_items[0][price_data][currency]",
              "value": "PKR"
            },
            {
              "name": "line_items[0][price_data][product_data][name]",
              "value": "Bus Ticket"
            },
            {
              "name": "=line_items[0][price_data][unit_amount]",
              "value": "={{ $json.totalFare * 100 }}"
            },
            {
              "name": "line_items[0][quantity]",
              "value": "1"
            },
            {
              "name": "success_url",
              "value": "https://example.com/success"
            },
            {
              "name": "cancel_url",
              "value": "https://example.com/cancel"
            },
            {
              "name": "client_reference_id",
              "value": "={{ $json.name }}_{{ $now.toFormat('yyyyMMddHHmmss') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1856,
        192
      ],
      "id": "dcee8760-9ad5-4f0e-96ef-70760999a19c",
      "name": "Stripe "
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const raw = $json.output || $json.message || \"\";\n\n// Try to extract JSON block from the text\nconst jsonMatch = raw.match(/\\{[\\s\\S]*\\}/);\n\nif (jsonMatch) {\n    try {\n        const extracted = jsonMatch[0]; // only the JSON part\n        const parsed = JSON.parse(extracted);\n        return parsed; // goes to Switch Node\n    } catch (err) {\n        // JSON exists but is invalid\n        return {\n            error: \"Failed to parse JSON\",\n            raw_text: raw\n        };\n    }\n} else {\n    // No JSON found → treat as general message\n    return {\n        message: raw,\n        intent: \"check_info\"\n    };\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        128
      ],
      "id": "1ca12481-a550-4241-abf1-3a218bc1945f",
      "name": "JSON-OUTPUT"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1392,
        160
      ],
      "id": "b81c4290-3d6f-4188-933c-7a61ed77cc7c",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        112,
        592
      ],
      "id": "e2a14400-d773-4191-a19f-cd39d7522705",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "RgbZWQPXByEhjEJN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -256,
        528
      ],
      "id": "4a1b2e02-8306-492c-b597-e61820e120e7",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "hBv50MEublL609bR",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "long_url",
              "value": "={{ $json.url }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b5580c87-a6ce-4836-b712-5a6531154128",
      "name": "Set Long URL",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        2096,
        160
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://api.short.io/links",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\n  \"originalURL\": \"{{ $json.long_url }}\",\n  \"domain\": \"Aimlteam39.short.gy\"\n}",
        "headerParametersJson": "{\n  \"Authorization\": \"sk_OlSsaz6aWVliFGZ0\",\n  \"Content-Type\": \"application/json\"\n}"
      },
      "id": "9f5a80e9-d966-49bc-8d9d-7746e21a27ef",
      "name": "Short.io API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        2352,
        160
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "96577cc4-6f1b-4e61-94c0-46951836ee37",
              "name": "message",
              "value": "=\nGood luck {{ $('Fare_Calculation').item.json.name }}* Your booking has been confirmed.\nTotal payable amount  is {{ $('Fare_Calculation').item.json.totalFare }} PKR\nUse this link for payment. This link only works for 5 minutes.\n{{ $json.shortURL }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2544,
        160
      ],
      "id": "d7b88167-6e24-49c6-8476-d1f106eb7e07",
      "name": "Set_Node"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop and Error1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Crypto1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "JSON-OUTPUT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [],
        [
          {
            "node": "fetching _fare_prices_along_cities",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fare_Calculation": {
      "main": [
        [
          {
            "node": "Stripe ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "fetching _fare_prices_along_cities": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stripe ": {
      "main": [
        [
          {
            "node": "Set Long URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "JSON-OUTPUT": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Fare_Calculation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Set Long URL": {
      "main": [
        [
          {
            "node": "Short.io API Call",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Short.io API Call": {
      "main": [
        [
          {
            "node": "Set_Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d73bffdb-bf08-4e56-8885-a86c968164b9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5b299a6b21926eb92d0e539939abd1d1f19207b2193206b7598f978777be0d77"
  },
  "id": "zbC6tnblfcdKCTbN",
  "tags": []
}
